.khan__buy-link {
    color: #2f80ed;
    text-decoration: none;
    opacity: 1;
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    margin-left: 48px;
    align-self: flex-start;
}

.khan__buy-link:hover {
    opacity: 0.33;
    transition-duration: 3s;
}